<%- include('partials/header') %>

<h1>Home</h1>

<p> <%= pcontent %> </p>

<a class="btn btn-primary" role='button' href="/compose">Compose</a>

<hr>

<% postsItems.forEach( function (item){%> 
    <div class="postEntry">
        <h2><%= item.title%></h2>
        <p class="data"><%= item.date.toLocaleDateString('en-US')%></p>
        

        
        <p><%= item.content.slice(0,100)+' ... ';%><a href='/post/<%=item._id  %>'>Read more</a></p>
        <hr>
    </div>
    
    
    <% }) %> 
    


<%- include('partials/footer') %>