<%- include('partials/header') %>

<h1>Home</h1>

<p> <%= pcontent %> </p>

<hr>

<% postsItems.forEach( function (item){%> 
    <div class="postEntry">
        <h4><%= item.title%></h4>
        <p><%= item.date.toLocaleDateString('en-US')%></p>
        <p><%= item.body%></p>
        <hr>
    </div>
    
    
    <% }) %> 
    


<%- include('partials/footer') %>