<%- include('partials/header') %>

<h1>Home</h1>

<p> <%= pcontent %> </p>

<hr>

<% postsItems.forEach( function (item){%> 
    <div class="postEntry">
        <h2><%= item.title%></h2>
        <p class="data"><%= item.date.toLocaleDateString('en-US')%></p>
        

        
        <p><%= item.body.slice(0,100)+' ... ';%><a href='/post/<%=item.title  %>'>Read more</a></p>
        <hr>
    </div>
    
    
    <% }) %> 
    


<%- include('partials/footer') %>